@charset "UTF-8";
/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
/*各浏览器显示不同，去掉蓝色边框*/
fieldset,
img,
input,
button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}
ul,
ol,
li {
  list-style: none;
}
/*统一组合框的默认样式*/
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "microsoft yahei", "SimSun", "宋体";
}
select,
input,
button {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 1.5rem;
  margin: 0;
}
/*防止拖动 影响布局*/
textarea {
  resize: none;
}
/*去掉行内替换元素空白缝隙*/
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
body {
  font: 1.5rem/150% Arial, Verdana, "\5b8b\4f53";
  /*宋体 unicode */
  color: #666;
  background: #fff;
}
div {
  box-sizing: border-box;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}
a {
  color: #3C3C3C;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
s,
i,
em {
  font-style: normal;
  text-decoration: none;
}
/*公共类*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.al {
  text-align: left;
}
.ac {
  text-align: center;
}
.ar {
  text-align: right;
}
.hide {
  display: none;
}
/* 顶部通栏title*/
.titleTea {
  position: fixed;
  position: relative;
  top: 0;
  background-color: #CD0301;
  height: 5rem;
  line-height: 5rem;
  z-index: 998;
}
.titleTea a {
  position: absolute;
  top: 0.1rem;
  left: 1.8rem;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 400;
}
.titleTea h3 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  line-height: 5rem;
  color: #FFFFFF;
  font-weight: 600;
}
.titleTea .currentCity {
  color: #fff;
  margin-top: -5rem;
  margin-right: 2rem;
  font-weight: 500;
  font-size: 1.1rem;
}
/*底部固定导航栏*/
.teaNav {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #ccc;
}
.teaNav .row {
  margin-bottom: 2rem;
  height: 4rem;
}
.teaNav a {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}
.teaNav a span {
  display: block;
  width: 100%;
}
.teaNav a:focus {
  color: #e8383b;
}
/*商品列表页产品*/
.media-left img {
  width: 7rem;
  height: 7rem;
}
.media-body p {
  font-size: 0.6rem;
  color: #e8383b;
}
/* 删除确认框*/
.areYouSure {
  width: 12rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -6rem;
  margin-top: -4rem;
  overflow: hidden;
  display: none;
  z-index: 12;
}
.areYouSure .headS {
  height: 5rem;
  line-height: 6rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.areYouSure .footS {
  width: 100%;
  background-color: #fff;
}
.areYouSure .footS button {
  width: 50%;
  height: 3rem;
  float: left;
  text-align: center;
  background-color: #fff;
}
.areYouSure .footS .sureS {
  border-right: 1px solid #ccc;
}
