body{background:#eee; font-size:0.8rem;}
.container {padding-bottom:6rem;}
.container .row{width:95%; margin:auto;}
.tishi{ color:#BF0D13; }
.container>div{text-align:center; padding:1.2rem 0;}
.row input[type='text']{ border:1px solid #ddd; background:none; }
.row input[type='file']{width:100%; font-size:0.6rem;  }
.row input[type='button']{ padding:0.25rem 0.5rem; background:none;border:1px solid #aaa;}
.zhizhao{clear:both; padding:0.5rem 0rem; }
#previewId img,#preview img{ width:80%; margin:auto;}