@CHARSET "UTF-8";
/* CSS Document */
/*author rocalee
*商家-个人中心
*/
.personal_roca{width:967px;margin:0px auto;padding-top:26px;font-size:14px;}
.personal_roca .title{width:920px;height:84px;background:#f0f0f0;font-size:12px;padding:0px 30px 0px 17px;position:relative;}
.personal_roca .title b{font-size:16px;color:#303030;display:block;line-height:40px;}
.personal_roca .title p{color:#898989;float:left;width:799px;}
.personal_roca .title a.bianji{display:block;width:123px;height:27px;border:1px solid #fc4516;color:#fc4516;text-align:center;line-height:27px;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;position:absolute;right:30px;top:10px;}
.personal_roca .title a.chongzhi{display:block;width:123px;height:27px;border:1px solid #fc4516;color:#fc4516;text-align:center;line-height:27px;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;position:absolute;right:30px;top:50px;}
.personal_roca .content{border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;overflow:hidden;margin-top:6px;}
.personal_roca .content p{font-size:16px;font-weight:bold;color:#fc4516;padding-left:17px;line-height:45px;height:45px;}
.personal_roca .content ul{width:908px;margin:0px auto;}
.personal_roca .content ul li{width:454px;float:left;line-height:35px;}


/*编辑个人资料*/
.personal_edit{font-size:14px;color:#303030;padding-top:10px;}
.personal_edit .org{color:#fc4516;}
.personal_edit td{height:45px;}
.personal_edit td a{margin-left:10px;}
.personal_edit td a:hover{text-decoration:underline;}
.personal_edit input{width:250px;height:25px;border:1px solid #c9c9c9;}
.personal_edit .tijiao{font-size:14px;color:#fff;background:url("../../images/eatery_ad18.png");width:63px;height:29px;border:none;cursor:pointer;margin-top:40px;margin-bottom:30px;}
.personal_edit .quxiao{font-size:14px;color:#fff;background:url("../../images/eatery_ad19.png");width:63px;height:29px;border:none;cursor:pointer;margin-left:45px;margin-top:40px;margin-bottom:30px;}


/*店铺列表*/
.shop_list{color:#303030;font-size:12px;width:967px;margin:0px auto;padding-top:20px;}
.shop_list p{font-size:16px;font-weight:bold;color:#fc4516;border-bottom:1px solid #dcdcdc;background:url(../../images/shop1.png) no-repeat left center;padding-left:22px;line-height:40px;overflow:hidden;}
.shop_list p span{float:left;}
.shop_list p a{float:right;font-size:13px;background:url(../../images/tjb.png) no-repeat;width:95px;height:25px;display:block;line-height:25px;text-align:center;color:#fff;font-weight:normal;margin-left:13px;}
.shop_list ul{line-height:39px;border-bottom:1px dotted #ebebeb;overflow:hidden;}
.shop_list ul li{float:left;padding:0px 3px;}
.shop_list ul li a{color:#303030;}
.shop_list ul li.title{width:703px;font-size:14px;}
.shop_list ul li span{width:12px;height:12px;background:url(../../images/shop11.png) no-repeat;display:block;float:left;margin-top:12px;margin-right:2px;}
.shop_list ul li.see span{background-position:0px 0px;}
.shop_list ul li.see:hover span{background-position:-12px 0px;}
.shop_list ul li:hover a{color:#fc4516;}
.shop_list ul li.edit span{background-position:0px -12px;}
.shop_list ul li.edit:hover span{background-position:-12px -12px;}
.shop_list ul li.del span{background-position:0px -24px;}
.shop_list ul li.del:hover span{background-position:-12px -24px;}
.shop_list ul li.index span{background-position:0px -36px;}
.shop_list ul li.index:hover span{background-position:-12px -36px;}

/*支付列表*/
.payment_list ul li.title{width:701px}
.payment_list ul li.biao{width:103px;font-size:14px;font-weight:bold;}

/*子账户列表*/
.account_list ul li.title{width:803px;}

/*添加子账户*/
.personal_edit input.checkbox{width:15px;height:15px; cursor: pointer}

/*菜品列表*/
.dishes_list_head{width:967px;margin:0px auto;height:35px;padding-top:25px;}
.dishes_list_head span{float:left;margin:2px 6px;}
.dishes_list_head input{border:1px solid #c9c9c9;height:17px;line-height:17px;width:115px;float:left;margin:0px 4px;}
.dishes_list_head select{border:1px solid #c9c9c9;float:left;margin:0px 4px 0px 0px;}
.dishes_list_head input.button{background:url(../../images/se.jpg) no-repeat;width:42px;height:19px;border:none;cursor:pointer;}
.dishes_list_head input.cancle {
    background: url(../../images/cancle.jpg) no-repeat;
    width: 42px;
    height: 19px;
    border: none;
    cursor: pointer;
}
.dishes_list{margin:0px auto;border:1px solid #f0f0f0;}
.dishes_list a{cursor:pointer;color:#000;}
.dishes_list tr{height:66px;}
.dishes_list .head{background:#f0f0f0;height:38px;}
.dishes_list .head a.add{background:url(../../images/tjb.png) no-repeat;width:95px;height:25px;display:block;color:#fff;line-height:25px;float:right;margin-right:10px;}
.dishes_list .top{height:36px;color:#9c9c9c;}
.dishes_list td{border-bottom:1px solid #f0f0f0;text-align:center;}
.dishes_list td div.title{width:177px;height:55px;padding-top:10px;overflow:hidden;}
.dishes_list .name{width:230px;}
.dishes_list td.title{width:177px;text-align:left;}
.dishes_list .style{width:163px;}
.dishes_list .money{width:163px;color:#fc4516;}
.dishes_list .handle ul{padding-left:8px;}
.dishes_list .handle ul li{float:left;padding:0px 2px;}
.dishes_list .handle ul li span{width:12px;height:12px;background:url(../../images/shop11.png) no-repeat;display:block;float:left;margin-top:3px;margin-right:4px;}
.dishes_list .handle ul li.edit span{background-position:0px -12px;}
.dishes_list .handle ul li.edit:hover span{background-position:-12px -12px;}
.dishes_list .handle ul li.edit:hover a{color:#fc4516;}
.dishes_list .handle ul li.del span{background-position:0px -24px;}
.dishes_list .handle ul li.del:hover span{background-position:-12px -24px;}
.dishes_list .handle ul li.del:hover a{color:#fc4516;}
.dishes_list td.all_handle{text-align:left;}
.dishes_list td.all_handle a{margin-right:27px;color:#303030;}
.dishes_list td.all_handle a:hover{ text-decoration:underline;}
.dishes_list td.all_handle a.all{cursor:auto;}
.dishes_list td.all_handle a.all:hover{text-decoration:none;}
.dishes_list .page a{padding:2px 5px;border:1px solid #ddd;margin:0px 2px;color:#303030;}
.dishes_list .page a.select{border:1px solid #fc4516;color:#fff;background:#fc4516;}

/*增加菜品*/
.dishes_add_img{width:325px;float:left;margin-left:25px;margin-top:25px;}
.dishes_add{width:650px;float:left;}
.dishes_add tr.money input{width:83px;}
.dishes_add textarea{width:352px;height:122px;border:1px solid #c9c9c9;margin:12px 0px;}

/*餐位列表*/
.table_list .name{width:190px;}
.table_list td div.title{width:auto;text-align:left;}
.table_list .handle ul{padding-left:10px;}
.table_list td.org{color:#fc4516;}

/*投诉建议*/
.complain_list{background:#f0f0f0;border:none;font-size:13px;}
.complain_list td{background:#fff;border:none;}
.complain_list div{padding:8px;line-height:21px;text-align:left;}
.complain_list a{width:77px;height:29px;background:url(../../images/complain.png) no-repeat;display:block;font-size:14px;color:#fff;line-height:29px;margin-left:136px;}
.complain_list .head td{background:#f0f0f0;font-size:12px;}
.complain_list .org{color:#fc4516;}
.complain_page{ text-align:center;padding:20px 0px;}
.complain_page a{padding:2px 5px;border:1px solid #ddd;margin:0px 2px;color:#303030;}
.complain_page a.select{border:1px solid #fc4516;color:#fff;background:#fc4516;}
.center_right{position:relative;}

/*订单管理*/
.order_list .head{background:#fff;}
.order_list .top{background:#f0f0f0;color:#333;}
.order_list .org{color:#fc4516}
.order_list span.org{border:1px solid #fc4516;padding:0px 3px;}
.order_list span.gre{border:1px solid #75a152;padding:0px 3px;color:#75a152;}
.order_list p{line-height:20px;}
.order_list tr td{border:none;}
.order_list tr.order_operation td{border-bottom:1px solid #f0f0f0;}
.order_list tr.order_operation{height:45px;}
.order_list tr.order_operation a{height:25px;display:block;float:right;background:#fc4516;color:#fff;font-size:12px;font-weight:bold;width:75px;line-height:25px;margin-right:9px;}
.order_list tr.order_operation a.gray{background:#303030;}
.order_list .top a{color:#333;}
.order_list .top a:hover{text-decoration:underline;}
ul.order_ul{color:#dcdcdc;font-size:12px;line-height:40px;overflow:hidden;width:967px;margin:0px auto;border-bottom:1px solid #dcdcdc;margin-top:20px;}
ul.order_ul a{font-size:16px;font-weight:bold;color:#303030;display:block;padding:0px 2px;}
ul.order_ul a.select{color:#fc4516;border-bottom:2px solid #fc4516;}
ul.order_ul li{float:left;}
ul.order_ul li.line{padding:0px 13px;}
ul.order_ul a:hover{color:#fc4516;border-bottom:2px solid #fc4516;}

/*订单详情*/
.details_title{width:936px;margin:0px auto;font-size:14px;color:#333;font-weight:bold;background:#f5f8fa;height:36px;border:1px solid #f0f0f0;line-height:36px;padding:0px 14px;}
.details_title span{padding:0px 3px;font-weight:normal;font-size:12px;margin-left:5px;}
.details_title span.org{color:#fc4516;border:1px solid #fc4516;}
.details_title span.gre{color:#75a152;border:1px solid #75a152;}
.details_content{width:936px;border:1px solid #f0f0f0;border-top:none;margin:0px auto;padding:0px 14px;font-size:12px;}
.details_content p.org{font-size:16px;font-weight:bold;color:#fc4516;border-bottom:1px solid #d2d2d2;height:43px;line-height:43px;}
.details_content span{font-weight:bold;}
.details_content div{border-bottom:1px solid #d2d2d2;line-height:27px;padding:8px 0px;}
.details_content label{padding-right:40px;}
.details_content p.payment{height:46px;line-height:46px;}

.order_details{background:#f0f0f0;margin:0px auto;text-align:center;}
.order_details td{background:#fff;height:86px;}
.order_details td.left{text-align:left;}
.order_details td.left div{float:left;}
.order_details td.left a{display:block;float:left;}
.order_details thead td{background:#f5f8fa;height:38px;font-size:12px;line-height:38px;color:#303030;}
.order_details tbody{font-size:13px;}
.order_details tbody div{width:28px;padding-top:20px;}
.order_details tbody div.title{width:209px;height:64px;overflow:hidden;line-height:20px;padding:0px;padding-left:5px;}
.order_details tbody div.title a{color:#000;display:block;float:left;}
.order_details tbody div.title a:hover{text-decoration:underline;}
.order_details tbody div.title p{width:214px;float:left;color:#646464;}

/*弹出管理密码设置层*/
.reveal-modal {
    background:#fff;
    padding: 20px 20px 0px;

}
.reveal-modal p{font-size:20px;font-weight:bold;color:#303030;height:50px;line-height:50px;text-align:left;}
.reveal-modal div{text-align:center;padding-bottom:18px;}	
.reveal-modal input{background:url(../../images/bt.png) no-repeat;border:none;width:62px;height:29px;color:#fff;cursor:pointer;font-size:14px;}
.reveal-modal textarea{width:343px;height:165px;border:1px solid #9d9d9d;background:#fff;}
.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
.reveal-modal a.close-reveal-modal {
    width:16px;height:16px;
    font-size: 22px;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #9d9d9d;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
} 
.reveal-modal input.text{background:none;border:1px solid #d9d9d9;width:136px;height:25px;color:#303030;cursor:auto;}
.reveal-modal .order_myModal div{text-align:left;padding-bottom:10px;}
.reveal-modal .order_myModal div span{color:#fc4516;font-weight:bold;}
.reveal-modal .order_myModal div.myModal_button{text-align:center;}
.reveal-modal input.quxiao{background:url(../../images/eatery_ad19.png) no-repeat;margin-left:39px;}



/*分页*/
.roca_all_page{text-align:center;padding:10px 0px;}
.roca_all_page span.current{background:#fc4516;border:1px solid #fc4516;color:#fff;margin:0px 2px;padding:2px 5px;}
.roca_all_page a.num{border:1px solid #ddd;color:#303030;margin:0px 2px;padding:2px 5px;}
.roca_all_page a.next{color:#303030;}
.roca_all_page a.next:hover{color:#fc4516;text-decoration:underline;}
.roca_all_page a.prev{color:#303030;}
.roca_all_page a.prev:hover{color:#fc4516;text-decoration:underline;}


/****文章页***加入我们****************所有的样式******************开始*******************/
.aboutus,.contactus,.joinus,.service{
    width:980px;
    min-height:500px;
    margin:15px 0px 15px 17px;
    background:#fff;
}
.about_text{
    margin:20px 30px;
    padding:20px 20px;
    background:#c7c7c7;
    font-size:16px;
    line-height:30px;
    font-family:微软雅黑;
}
/*************文章页***********所有的样式******************结束*******************/


/***个人首页控制台样式***/
.content_contral{border-top: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;overflow:hidden;margin-top: 6px;}
.content_contral ul{width: 908px;margin: 0px auto;}
.content_contral p {font-size: 16px;font-weight: bold;color: #fc4516;padding-left: 17px;line-height: 45px;height: 45px;}
.content_contral li{width:auto;float: left;line-height: 35px;padding-left:5px;}
.content_contral li a{text-decoration: none; font-family: "微软雅黑";font-size: 12px;color: #000;}