<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	
	<!-- 加载外部资源 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:dbconfig.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- 配置数据源 来自dbcp的数据源 id不能换写死 class可换 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driverClass}"></property>	
		<property name="url" value="${url}"></property>	
		<property name="username" value="${username}"></property>	
		<property name="password" value="${password}"></property>	
	</bean>
	
	<!-- 配置sqlsessionfactory  创建对象sessionFactory-->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 配置sessionFactory引用的dataSource 也是写死  不能换-->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 配置别名 还是写死的 -->
		<property name="typeAliasesPackage" value="com.zrgk.bean"></property>
	</bean>
	
	<!-- 配置扫描mapper 映射文件-->
	<bean id="scanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zrgk.mapper"></property>
		<property name="sqlSessionFactoryBeanName" value="sessionFactory"></property>
	</bean>
	<!-- ioc 上面   aop下面 -->
	<!--  关于事务处理  里面具体干了什么 对不起不知道 写死就行了  -->
	<!-- 配置事务管理器 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 配置事务的通知 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
		<!-- 执行那么名的方法时  会检查当前线程是否有事务 如果有自动加入 没有会自动启一个线程 -->
			<tx:method name="ins*" propagation="REQUIRED"/>
			<tx:method name="upd*" propagation="REQUIRED"/>
			<tx:method name="del*" propagation="REQUIRED"/>
			<tx:method name="*" propagation="REQUIRED" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 配置事务的AOP -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.zrgk.service..*(..))"/>
	</aop:config>
</beans>