<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 利用逆向工程方式 -->
	<!-- 构造器方法 需要对应的构造函数 用的不多 -->
	<!-- <bean class="com.zrgk.bean.Users" id="users" scope="prototype"> -->
	<!-- <constructor-arg name="id" value="1"></constructor-arg> 必须有有参构造函数不然不行  -->
	<!-- </bean> -->
	<!-- 接口注入的方式 官方都没有 只有中国面试才有 -->
	<!-- 集合方式注入 -->
	<!-- 非单例模式prototype singleton单例模式 只有一个 set方法 -->
	<bean class="com.zrgk.bean.Users" id="users" scope="prototype">
		<!-- 属性赋值赋值的方式 -->
		<property name="id" value="1">
		</property>
		<property name="name">
			<value>张三</value>
		</property>
		<!-- 对集合赋值 list set map -->
		<property name="list">
			<list>
				<value>aaa</value>
				<value>bbb</value>
				<value>ccc</value>
<!-- 				<list></list>  少见 并非不可以 list里面放list -->
			</list>
		</property>
		<property name="set">
			<set>
				<value>111</value>
				<value>222</value>
				<value>333</value>
			</set>
		</property>
		<property name="map">
			<map>
				<entry key="a" value="111"></entry>
				<entry key="b" value="222"></entry>
				<entry key="c" value="333"></entry>
			</map>
		</property>
	</bean>
	<!-- 自动装配  我觉得这个用的最多 main04  autowire默认按名称装配  也可以按照类型装配 不好-->
	<bean class="com.zrgk.test.uDao" id="ud1"></bean>
<!-- 	<bean class="com.zrgk.test.uDao" id="ud1"></bean> 变量里面有两个对象 当然可以在引入 -->
	<bean class="com.zrgk.test.uService" id="us">
		<property name="ud" ref="ud1"></property> <!-- ud 变量名  ref 要引入的包 用set方法赋值 -->
<!-- 		<property name="ud" ref="ud1"></property> 变量里面有两个对象 当然可以在引入 -->
	</bean>
	
	
</beans>